%h1="Restaurants:"
- if @restaurants.any?
  - @restaurants.each do |restaurant|
    - if user_signed_in?
      %h2= link_to restaurant.name, restaurant_path(restaurant)
      %p= "Description: #{restaurant.description}"
      %p= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
      = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
      %p= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
      - restaurant.reviews.each do |review|
        %p= review.thoughts
        %p= review.rating
    - else
      %h2= link_to restaurant.name, restaurant_path(restaurant)
      %p= "Description: #{restaurant.description}"
- else
  No restaurants yet
%h3= link_to('Add a restaurant', new_restaurant_path)
